body {
    background-image: url("../images/Rain.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.bruce {
    background-color: white;
    width: 100%;
    height: 11.5vh;
    top: 0;
    left: 0;
    position: sticky;
    margin: 0;
    z-index: 999;
}

#relativity {
    width:100%;
    height:100%;
    background-color:#CCCCCC;
    position:relative;
}

.buttonContainer {
    width:60%;
    height:70%;
    margin-left: 20%;
    background-color:#999999;
    position:absolute;
    bottom:0px;
    display: flex;
    align-items: normal;
    justify-content: center;
    padding: 0px;
}

.button {
    background-color: aqua;
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(0px);
    transition: 10ms;
}

.button p {
    text-align: center;
}

.navLink {
    width: 15%;
    height: 80%;
    margin-left: 20px;
    position: relative;
    float: left;
}

.content {
     background-color: black;
     width: 90%;
     height: 2000px;
     margin: auto;
     position: relative;
     overflow: hidden;
     display: block;
     color: white;
     padding: 20px;
 }
