body {
    background-image: url("../images/Rain.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    min-width: 770px;
}

.bruce {
    background-color: white;
    width: 100%;
    height: 86px;
    top: 0;
    left: 0;
    position: sticky;
    margin: 0;
    z-index: 999;
}

#relativity {
    width:100%;
    height:100%;
    background-color:#CCCCCC;
    position:relative;
}

.buttonContainer {
    width:60%;
    height:70%;
    margin-left: 20%;
    background-color:#CCCCCC;
    position:absolute;
    bottom:0;
    display: flex;
    align-items: normal;
    justify-content: center;
    padding: 0px;
}

.button {
    background-color: aqua;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: table;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(0px);
    transition: 10ms;
}

.button p {
    text-align: center;
}

.navLink {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    float: left;
}

.content {
     background-color: black;
     width: 90%;
     height: 2000px;
     margin: auto;
     position: relative;
     overflow: hidden;
     display: block;
     color: white;
     padding: 20px;
 }

#dropDownList {
    width: 5px;
    height: 0px;
    position: absolute;
    background-color: #3e8e41;
    transition: 0.2s;
    overflow: hidden;
    top: 50px;
    margin-left: 10px;
}

#dropDownListContent {
    margin: 0;
    padding: 0;
    width: 100%;
    display:table;
}
#dropDownListContent li {
    list-style: none;
    border: solid black 2px;
}