body {
    background-image: url("../images/sää/Rain.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    min-width: 770px;
}

.bruce {
    background-color: white;
    width: 100%;
    height: 86px;
    top: 0;
    left: 0;
    position: sticky;
    margin: 0;
    z-index: 999;
}

#relativity {
    width:100%;
    height:100%;
    background-color:white;
    position:relative;
    border-bottom: 2px solid #d56321;
}

.buttonContainer {
    width:60%;
    height:70%;
    margin-left: 20%;
    background-color:white;
    position:absolute;
    bottom:0;
    display: flex;
    align-items: normal;
    justify-content: center;
    padding: 0px;
}

.button {
    background-color: aqua;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: table;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(0px);
    transition: 10ms;
}

.button p {
    text-align: center;
}

.navLink {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    float: left;
}

.content {
     background-color: rgba(255, 255, 255, 0.95);
     width: 90%;
     height: 2000px;
     margin: auto;
     position: relative;
     overflow: hidden;
     display: block;
     padding: 0;
 }

.contentBox {
    width: 98%;
    background-color: white;
    margin: auto;
    margin-top: 15px;
    color: black;
    overflow: hidden;
    border: solid 1px rgb(221, 221, 221);
    border-radius: 5px;
}

.contentHeader {
    padding: 5px;
    padding-left: 15px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-bottom: solid 1px rgb(221, 221, 221);
}

#dropDownList {
    width: 5px;
    height: 0px;
    position: absolute;
    background-color: rgba(204, 204, 204, 0.4);
    transition: 0.2s;
    overflow: hidden;
    top: 50px;
    margin-left: 10px;
}

#dropDownListContent {
    margin: 1px;
    background-color: white;
    padding: 0;
    width: 98px;
    height: 198px;

}

.campusLinks {
    width: 98px;
    height: 49px;
    border-bottom: solid 1px rgba(204, 204, 204, 1);
    text-align: center;
    vertical-align: middle;
}

.campusLinks:nth-child(4) {
    border-bottom: 0;
}

#logo {
    width: 60px;
    height: 60px;
    margin: 13px;
}

.navImages {
    width: 67px;
    height: 53px;
}

.linkText {

}

.contentBox {
    animation: fadeInRight 1s ease-in;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}